<%= form_for(item1 ,url: url) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="form-group">
    <%= f.label :cost, "Cost (Cost Per Unit in USD) $" %>
    <%= f.number_field :cost, :step => 0.01 %>
  </div>
  <div class="form-group">
    <%= f.label :member %>
    <%= f.text_field :member %>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <input type="hidden" name="family" value="<%= family %>">
  <%= f.submit "Submit", class: "waves-effect waves-light btn" %>
<% end %>
