<h2>Forgot your password?</h2>
<p/>Enter in your email to recieve a new password. Your new password will be sent to your email address.<p>
<%= form_tag("/new_password",method: "post") do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag "Send me reset password instructions", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
