<h1>Deliver</h1>
<p>Family Name: <%= @family.name %></p>
<p>Family Address: <%= @family.address + " "+ @family.city %></p>
<%= link_to "Back", "/family_admin/#{@family.id}" %>
<%= render partial: "sharred/items", locals: {items: @family.items, mine: false, admin: true, admin_home: true, family: @family} %>
<%= link_to "Delivery Has Been Sent", "/send_delivery/#{@family.id}", class: "waves-effect waves-light btn", method: "post" %>
