<h1><%= @family.name %></h1>
<% if current_user != nil %>
  <% if current_user.admin %>
    <%= link_to "Edit Family", edit_family_path(@family) %>
    <%= link_to "Delete Family", family_path(@family), method: :delete %>
    <%= link_to "New Item", new_item_path(id: @family.id) %>
  <% end %>
<% end %>
<% if params[:user] != "undefined" and params[:user] != nil %>
  <%= link_to "Back", "/donor/#{@user.id}" %>
<% else %>
  <%= link_to "Back", current_user %>
<% end %>
<table>
  <tr>
    <th>
      Donor Name
    </th>
    <th>
      Cost
    </th>
    <th>
      Items
    </th>
  </tr>
  <tr>
    <td>
      <%= @user.name %>
    </td>
    <td>
      <%= number_to_currency @family.myCost @user.id %>
    </td>
    <td>
      <% temp =  @family.items.isMine @user.id %>
      <%= temp.length %>
    </td>
  </tr>
</table>
<% if !@family.areMineRecieved @user.id %>
  <h5>Select Items to Remove</h5>
  <form action="/remove_status" method="post">
  <%= render partial: "sharred/items", locals: {items: @items,family: true,mine: "true",admin: false} %>
  <input type="hidden" name="family" id="family" value="<%= @family.id %>" />
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id="modalToggle">Remove!</a>
<% else %>
  <h5>All of Your Items For This Family have already been recieved.</h5>
  <p>Thank you for your gracious donation. Email info@spreadsunshine.org if you have any questions or concerns.</p>
<% end %>
<script>
  $("#modalToggle").click(function(){
     $(".collection>li").each(function(){
         var parse = $(this).find(".secondary-content").html();
         var parse2 = parse.split('id="')[1];
         var parse3 = parse2.split('"')[0];
         var checkbox = document.getElementById(parse3).checked;
         if(checkbox){
           $(".modal-content").append($(this).html());
           $(".modal-content .secondary-content").hide();
         }
    });
  });
</script>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Confirm Removing Items</h4>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    <input type="submit" value="Confirm" class="waves-effect waves-green btn-flat"/>
  </div>
</div>
</form>
